<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div>
    <ul>
    <h4>所有文章：</h4>
     {% for article in allarticle  %}
        <li><a href="{% url 'index' %}show-{{ article.id }}.html" title="{{ article.title }}"> {{ article.title }}</li> </a>
            {{ article.category.id }}<br />
            {{ article.body|truncatechars:"10" }}<br />
            {{ article.user }}<br />
            {{ article.created_time|date:"Y年m月d日" }}<br />
            {{ article.modified_time|date:"Y年m月d日" }}
        {% endfor %}
    </ul>
</div>
</body>
</html>